div {
    text-align: center;
    color: lightcyan;
}
body {
    background-color: black;
}
nav {
    background-color:floralwhite;
    width: 200px;
    height: 100%;
    
}
ul {
    list-style: none;
}